<div *ngIf="!radarsAreNullOrUndefined()">

    <app-card-container [header]="title()">

      <div *ngIf="axesInCommon().length !== 0; else incompatibleRadars">

        <div class="card-body">
          <app-radar-chart [radars]="parseRadarsToRadarChart()"></app-radar-chart>

          <div *ngFor="let axis of axesInCommon()">
            <hr>
            <h5>{{ axis.name }}</h5>
            <p>{{ axis.description }}</p>

            <app-axis-bar-chart
              [axis]="axis"
              [values]="parseRadarsAxisValuesForAxisChart(axis)"
              [radarNames]="parseRadarTitlesToAxisChart()"
              >
            </app-axis-bar-chart>

            <app-axis-table-values
              [axis]="axis"
              [values]="parseRadarsAxisValuesForAxisChart(axis)"
              [radarNames]="parseRadarTitlesToAxisChart()"
            >
            </app-axis-table-values>
          </div>

          <app-compare-radars-buttons></app-compare-radars-buttons>
        </div>

      </div>

      <ng-template #incompatibleRadars>
        <div>
          <h4 class="incompatible-title">Radares incompatibles</h4>
          <app-compare-radars-buttons></app-compare-radars-buttons>
        </div>
      </ng-template>

    </app-card-container>

</div>
