<div class="aristas">
  <h5>{{ answer.axis.name }}</h5>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-1-{{answer.axis.name}}" name="radio-{{answer.axis.name}}" (click)="vote(1)">
    <label class="custom-control-label" for="input-1-{{answer.axis.name}}">1</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-2-{{answer.axis.name}}" name="radio-{{answer.axis.name}}" (click)="vote(2)">
    <label class="custom-control-label" for="input-2-{{answer.axis.name}}">2</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-3-{{answer.axis.name}}" name="radio-{{answer.axis.name}}" (click)="vote(3)">
    <label class="custom-control-label" for="input-3-{{answer.axis.name}}">3</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-4-{{answer.axis.name}}" name="radio-{{answer.axis.name}}" (click)="vote(4)">
    <label class="custom-control-label" for="input-4-{{answer.axis.name}}">4</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-5-{{answer.axis.name}}" name="radio-{{answer.axis.name}}" (click)="vote(5)">
    <label class="custom-control-label" for="input-5-{{answer.axis.name}}">5</label>
  </div>
</div>
