<div class="sign-in">
  <div class="card card-sign-in">

    <img class="card-img-top" src="assets/images/rada-sign-in.jpg" alt="Ruben Radar">

    <div class="alert alert-danger alert-sign-in" role="alert">
      Necesita loguearse para continuar
    </div>

      <div class="card-body card-body-sign-in">
        <h5 class="card-title">Ruben Radar</h5>
        <p>Logueate usando tu usuario de:</p>

        <div class="parent-button-sign-in">
          <a
            href="https://backoffice-10pines-stg.herokuapp.com/auth/sign_in?redirect_url={{ apiURL() }}auth/backoffice/callback&app_id=ruben_radar"
            class="btn btn-success button-sign-in"
          >
            <img class="card-img-top logo-sign-in" src="assets/images/logo-sign-in.png">
            Backoffice
          </a>
        </div>
      </div>

    </div>
</div>
