<div>
  <div class="barra-navegacion">
    <div class="logo">
      <a href=""><img src="assets/images/10pines-logo.png"></a>
    </div>

    <div class="login-logout">
      <a [hidden]="isLogedIn" href="{{ apiURL() }}auth/backoffice/redirect">
          <button type="button" class="login-logout-btn btn btn-outline-light">
            {{LOGIN}}
          </button>
      </a>

      <button [hidden]="!isLogedIn" type="button" class="login-logout-btn btn btn-outline-light" (click)="logout()">
        {{LOGOUT}}
      </button>
    </div>
  </div>
</div>
