<div class="card">
  <div class="card-body">

    <h5 class="card-title">{{ radar.title }}</h5>

    <h6 class="card-subtitle mb-2 text-muted">
        <div *ngIf="radar.isClosed(); else radarAbierto">
          Cerrado
        </div>

        <ng-template #radarAbierto>
          Abierto
        </ng-template>
    </h6>

    <p class="card-text radar-card-description">
      {{ radar.description }}
    </p>

    <button class="radar-card-link card-link btn btn-link" (click)="redirectToRadar()" title="Ver Resultados">
      Ver Resultados
    </button>

    <button class="radar-card-link card-link btn btn-link" (click)="copyVoteRadarLink()" *ngIf="!radar.isClosed()" title="Copiar Link">
      Copiar Link A Votar
    </button>

    <button class="radar-card-link card-link btn btn-link" (click)="closeRadar()" *ngIf="!radar.isClosed()" title="Cerrar Radar">
      Cerrar Radar
    </button>

  </div>
</div>
