.select-to-compare-container {
    margin: 2em;
}

.select-to-compare-title {
    text-align: center;
    margin-bottom: 1.5em;
}

.select-to-compare-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
