<app-card-container [header]="title">

  <div class="select-to-compare-container">
    <h4 class="select-to-compare-title">
      Elegir radares para comparar
    </h4>

    <form class="select-to-compare-form">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Primer Radar</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Segundo Radar</label>
        <select class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </form>
  </div>

</app-card-container>
