<app-card-container [header]="title">

  <div class="select-to-compare-container">
    <h4 class="select-to-compare-title">
      Elegir radares para comparar
    </h4>

    <form class="select-to-compare-form">
      <div class="form-group">
        <label for="primerRadar">Primer Radar</label>
        <select
          class="form-control select-to-compare-select"
          name="primerRadar"
          [(ngModel)]="firstRadar"
        >
          <option *ngFor="let radar of radars" [ngValue]="radar">
            {{radar.title}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="segundoRadarToCompare">Segundo Radar</label>
        <select
          class="form-control select-to-compare-select"
          name="segundoRadarToCompare"
          [(ngModel)]="secondRadar"
        >
          <option *ngFor="let radar of radars" [ngValue]="radar">
            {{radar.title}}
          </option>
        </select>
      </div>
    </form>

    <div class="select-to-compare-buttons">

      <button
        type="button"
        class="btn btn-secondary select-to-compare-back-to-index-button"
        (click)="backToIndex()"
      >
        Volver al index
      </button>

      <button
        type="button"
        class="btn btn-success select-to-compare-compare-button"
        (click)="compareRadars()"
      >
        Comparar
      </button>
    </div>
  </div>

</app-card-container>
