.select-to-compare-container {
    margin: 2em;
}

.select-to-compare-title {
    text-align: center;
    margin-bottom: 1.5em;
}

.select-to-compare-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.select-to-compare-select {
    width: 15em;
}

.select-to-compare-buttons {
    display: flex;
    justify-content: center;
    margin: 1.5em;
}

.select-to-compare-back-to-index-button {
    margin-right: 0.5em;
}

.select-to-compare-compare-button {
    margin-left: 0.5em;
}
