<form>
  <div class="form-group">
    <label for="radarName">Nombre del Radar</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="radarName"
      name="radarName"
      id="radarName"
      placeholder="Nuevo Radar"
      required
    >
  </div>
  <div class="form-group">
    <label for="radarDescription">Descripción del Radar</label>
    <textarea
      class="form-control"
      [(ngModel)]="radarDescription"
      name="radarDescription"
      id="radarDescription"
      rows="3"
    >
  </textarea>
  </div>

  <hr>

  <div class="card axis-card">
    <div class="card-body axis-card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let axis of axes">
          {{ axis.title }}
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="axisName">Nombre de la Arista</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="axisName"
      name="axisName"
      id="axisName"
      placeholder="Nueva Arista"
      required
    >
  </div>
  <div class="form-group">
    <label for="axisDescription">Descripción de la Arista</label>
    <textarea
      [(ngModel)]="axisDescription"
      name="axisDescription"
      class="form-control"
      id="axisDescription"
      rows="3"
    >
    </textarea>
  </div>

  <button [disabled]="axisIsInvalid()" type="button" class="btn btn-primary" (click)="addAxisToAxes()">Agregar</button>

  <hr>

  <button [disabled]="radarIsInvalid()" type="button" class="btn btn-success">Crear</button>
</form>
