<div class="landing-image-style">
    <div class="landing-overlay-style">
        <div layout-padding layout="column">
            <div class="surprised-radar-container">
                <img layout-margin src="images/10pines-icon.png">
            </div>
            <h1 class="landing-h1">
                RubenRadar
            </h1>
            <p class="landing-p">
                RubenRadar es una plataforma para evaluar procesos de forma sencilla y colaborativa<br />
                en función de múltiples aristas con el objetivo de analizar los resultados<br />
                en conjunto de manera fácil, gráfica y evolutiva.
            </p>
        </div>

        <div layout-padding layout="row" layout-align="center center">
            <md-button ng-href="/"
                       md-colors="{color:'grey-A100'}"
                       class="landing-button">
                Ver Radares
            </md-button>
        </div>
    </div>
</div>