<div ng-style="getStyle()">
    <md-content class="md-padding" style="background-color: green" layout-xs="column" layout="row">
        <div layout-padding layout="column">
            <div class="surprised-radar-container">
                <img layout-margin src="images/10pines-icon.png">
            </div>
            <h2 style="text-align: center; color: white;">
                RubenRadar
            </h2>
            <div style="text-align: center; color: white">
                TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
                TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
                TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
                TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
                TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
                TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
                TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO TEXTO
            </div>
        </div>



    </md-content>
</div>