<div class="box-container">
    <md-content class="main-box" layout-padding md-theme="pine-green">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>RubenRadar Admin</span>
            </div>
        </md-toolbar>

        <h2>Login</h2>

        <md-divider></md-divider>

        <form name="loginForm">
            <div layout-align="center center">
                <div layout="row">
                    <md-input-container>
                        <label>Usuario</label>
                        <input required >
                        <div ng-messages="projectForm.radar.description.$error">
                            <div ng-message="required">El usuario es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container>
                        <label>Contraseña</label>
                        <input required >
                        <div ng-messages="projectForm.radar.description.$error">
                            <div ng-message="required">La contraseña es obligatoria.</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" flex>
                    <md-button class="md-raised md-primary">
                        Login
                    </md-button>
                </div>
            </div>
        </form>
    </md-content>
</div>