<md-dialog aria-label="login" md-theme="pine-green">
    <form name="loginForm" ng-cloak>
        <md-toolbar>
            <div flex></div>
            <div class="md-toolbar-tools"
                 layout="column"
                 layout-align="end start">
                <div style="font-size: larger">
                    <h1>Bienvenido</h1>
                </div>
            </div>
        </md-toolbar>

        <md-input-container>
            <label>Email</label>
            <input required
                   name="email"
                   ng-model="jsonToLogin.admin.email"
                   ng-keyup="$event.keyCode == 13 && login()">
            <div ng-messages="loginForm.description.$error">
                <div ng-message="required">El email es obligatorio.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Password</label>
            <input type="password"
                   required
                   name="password"
                   ng-model="jsonToLogin.admin.password"
                   ng-keyup="$event.keyCode == 13 && login()">
            <div ng-messages="loginForm.description.$error">
                <div ng-message="required">El email es obligatorio.</div>
            </div>
        </md-input-container>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="login()">
                Login
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
