<div class="box-container">
    <md-content class="main-box" layout-padding md-theme="pine-green">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Radares</span>
                <span flex></span>
                <md-button ng-click="logout()"
                           class="landing-button"
                           ng-href="/">
                    Logout
                </md-button>
            </div>
        </md-toolbar>

        <div layout="column"
             md-whiteframe="3">
            <md-button href="/createRadar"
                    class="md-raised md-primary">
                Crear radar
            </md-button>

            <md-button href="/radars/selectToCompare"
                       class="md-raised md-primary"
                       style="background-color: #7CB342">
                Comparar Radares
            </md-button>


            <md-list-item class="md-3-line" ng-repeat="radar in radars" ng-click="null"
                          href="/radars/{{radar.id}}/results">
                <div ng-if="radar.active">
                    <div class="md-list-item-text" layout="column" style="color:green">
                        <u>
                            <h3>{{ radar.name }}</h3>
                        </u>
                        <h4 class="hide-description">{{ radar.description }}</h4>
                        <p>{{radar.created_at | date:'dd MMM yyyy'}}</p>
                        <p>(Abierto)</p>
                        <div layout="row" layout-align="center center" layout-wrap>
                            <div>
                                <md-button class="md-icon-button launch"
                                           ng-click="copyLink(radar)"
                                           aria-label="CopyLink">
                                    <md-icon md-svg-icon="images/clipboard-icon.svg"></md-icon>
                                </md-button>
                            </div>
                             <div>
                                <p id="radarLink">{{radarLink(radar)}}</p>
                            </div>
                        </div>
                    </div>
                    <md-button class="md-raised md-warn"
                        ng-click="closeRadar(radar)">
                        Cerrar
                    </md-button>
                </div>
                <div ng-if="!radar.active">
                    <div class="md-list-item-text" layout="column" style="color:green">
                        <u>
                            <h3>{{ radar.name }}</h3>
                        </u>
                        <h4 class="hide-description">{{ radar.description }}</h4>
                        <p>{{radar.created_at | date:'dd MMM yyyy'}}</p>
                        <p>(Cerrado)</p>
                    </div>
                </div>
                <md-divider></md-divider>
            </md-list-item>

        </div>


    </md-content>
</div>