<div class="box-container">

    <md-content class="main-box" layout-padding md-theme="pine-green">

        <fab-index-button></fab-index-button>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Radares</span>
                <span flex></span>
                <md-button ng-click="logout()"
                           class="landing-button"
                           ng-href="/">
                    Logout
                </md-button>
            </div>
        </md-toolbar>

        <div layout="column"
             md-whiteframe="3">

            <dl style="list-style-type:none">
                <dt class="md-3-line"
                              ng-repeat="radar in radars">

                    <md-card flex>
                        <md-toolbar style="background-color: #B7E581">
                            <md-card-header>
                                <md-card-header-text>
                                    <span class="md-head" style="color: black; font-size: 35px; font-weight:normal">
                                        {{ radar.name }}
                                    </span>
                                    <span class="md-subhead" ng-if="radar.active">Abierto - {{radar.created_at | date:'dd MMM yyyy'}}</span>
                                    <span class="md-subhead" ng-if="!radar.active">Cerrado - {{radar.created_at | date:'dd MMM yyyy'}}</span>
                                </md-card-header-text>
                            </md-card-header>
                        </md-toolbar>

                        <md-card-content>
                            {{ radar.description }}
                        </md-card-content>

                        <md-card-actions layout="row" layout-align="end center">

                            <md-menu ng-if="radar.active">
                                <md-button aria-label="Open share menu"
                                           ng-click="openMenu($mdOpenMenu, $event)">
                                    <md-icon md-menu-origin md-svg-icon="images/share-icon.svg"></md-icon>
                                    Compartir
                                </md-button>

                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button ng-click="copyLink(radar)"
                                                   aria-label="CopyLink"
                                                   ng-if="radar.active">
                                            <md-icon md-svg-icon="images/clipboard-icon.svg" md-menu-align-target></md-icon>
                                            Copiar link para votar al portapapeles
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>


                            <md-button class="launch"
                                       ng-href="/radars/{{radar.id}}/results"
                                       aria-label="RadarResults"
                                       title="Resultados">
                                <img class="logo-image" src="images/radar-icon.png">
                                Resultados
                            </md-button>

                            <md-button class="launch"
                                       ng-click="closeConfirmation($event, radar)"
                                       aria-label="CloseRadar"
                                       title="Cerrar"
                                       ng-if="radar.active">
                                <md-icon md-svg-icon="images/lock-icon.svg"></md-icon>
                                Cerrar
                            </md-button>

                        </md-card-actions>
                    </md-card>

                </dt>
            </dl>
        </div>

    </md-content>
</div>