<div class="box-container">
    <md-content class="main-box" layout-padding md-theme="pine-green">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Comparar radares</span>
                <span flex></span>
                <md-button class="landing-button"
                           ng-href="/radars">
                    Index
                </md-button>
                <md-button ng-click="logout()"
                           class="landing-button"
                           ng-href="/">
                    Logout
                </md-button>
            </div>
        </md-toolbar>
        <div layout="column" md-whiteframe="3">
            <div layout-margin layout-gt-sm="row">
                <div flex-gt-sm="50">
                    <md-subheader class="md-primary">Base</md-subheader>
                    <md-autocomplete
                            md-selected-item="afterRadar"
                            md-search-text-change=""
                            md-selected-item-change="removeReferenceIfEqualTo(afterRadar)"
                            md-search-text="baseText"
                            md-items="radar in baseRadarOptions(baseText)"
                            md-item-text="formatRadar(radar)"
                            md-no-cache="true"
                            md-min-length="0"
                            placeholder="Base">
                        <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">
                            {{formatRadar(radar)}}
                        </span>
                        </md-item-template>
                        <md-not-found>
                            No hay ningún radar llamado "{{searchText}}".
                        </md-not-found>
                    </md-autocomplete>
                </div>


                <div flex-gt-sm="50">
                    <md-subheader class="md-primary">Referencia</md-subheader>
                    <md-autocomplete
                            md-selected-item="beforeRadar"
                            md-search-text-change=""
                            md-selected-item-change=""
                            md-search-text="referenceText"
                            md-items="radar in referenceRadarOptions(referenceText)"
                            md-item-text="formatRadar(radar)"
                            md-no-cache="true"
                            md-min-length="0"
                            placeholder="Referencia">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">
                                {{formatRadar(radar)}}
                            </span>
                        </md-item-template>
                        <md-not-found>
                            No hay ningún radar llamado "{{referenceText}}".
                        </md-not-found>
                    </md-autocomplete>
                </div>
            </div>

            <md-button class="md-raised md-accent" ng-click="compareChosenRadars()" ng-disabled="cannotCompareRadars()">
                Comparar Radares
            </md-button>
        </div>
    </md-content>
</div>
