<div class="box-container">
    <md-content class="main-box" layout-padding md-theme="pine-green">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Radar: {{radar.description}}</span>
            </div>
        </md-toolbar>

        <div layout-padding layout="column" md-whiteframe="3">
            <div ng-if="radar.active && !alreadyVoted">
                <div layout-margin class="answer-container" ng-repeat="answer in answers">
                    <h2 class="axis-description">{{answer.axis.description}}</h2>
                    <md-radio-group class="input-group point-options-container" ng-model="answer.points">
                        <md-radio-button class="point-options md-primary" ng-repeat="option in options"
                                         name="{{axis.id}}" value="{{option}}">
                            {{option}}
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div class="button-row-container">
                    <md-button href="/radars" class="md-raised md-accent">Volver</md-button>
                    <md-button ng-disabled="!allAxesAnswered()" ng-click="submit()" class="md-raised md-accent">Votar</md-button>
                </div>
            </div>
            <ng-include ng-if="alreadyVoted" src="'templates/radars/successfulVote.html'"></ng-include>
            <div ng-if="!radar.active">
                <div layout-margin>
                    <p>
                        Al parecer ya no podés votar en este radar, ya que el mismo está cerrado.
                    </p>
                    <div class="surprised-radar-container">
                        <img layout-margin class="surprised-radar" src="images/closed-ruben.jpg">
                    </div>
                    <p>
                        Sin embargo <a href="/radars/{{radar.id}}/results">acá</a> podés acceder a los resultados.
                    </p>
                </div>
            </div>
        </div>
    </md-content>
</div>


