<div class="aristas">
  <h5>{{axis.title}}</h5>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-1-{{axis.title}}" name="defaultExampleRadios" (click)="vote(1)">
    <label class="custom-control-label" for="input-1-{{axis.title}}">1</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-2-{{axis.title}}" name="defaultExampleRadios" (click)="vote(2)">
    <label class="custom-control-label" for="input-2-{{axis.title}}">2</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-3-{{axis.title}}" name="defaultExampleRadios" (click)="vote(3)">
    <label class="custom-control-label" for="input-3-{{axis.title}}">3</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-4-{{axis.title}}" name="defaultExampleRadios" (click)="vote(4)">
    <label class="custom-control-label" for="input-4-{{axis.title}}">4</label>
  </div>
  <div class="custom-control custom-radio arista">
    <input type="radio" class="custom-control-input" id="input-5-{{axis.title}}" name="defaultExampleRadios" (click)="vote(5)">
    <label class="custom-control-label" for="input-5-{{axis.title}}">5</label>
  </div>
</div>
