.create-radar-button-container {
  display: flex;
  justify-content: space-evenly;
}

.create-radar-button {
  padding: 0.5em 1em 0.5em 1em;
  font-weight: bold;
}

.required-fields-label {
  font-size: small;
}
