<div class="radar-template-container">
  <h1> {{radarTemplate.name}} </h1>
  <div class="radar-template-details-container">
    <div class="card radar-template-details-sub-container">
      <div class="left-header">
        <div class="title-container"><div [fittext] [maxFontSize]="30" >{{selectedRadar?.name}}</div></div>
        <button label="Ver radar" (click)="viewRadar()"><img src="../../assets/images/radar-button.svg"><span>Ver radar</span></button>
      </div>
      <app-template-visualizer
      [radars]="radars()"
      [isPreview]="false"
      (onRadarSelected)="setSelectedRadar($event)"
    ></app-template-visualizer>
    </div>
    <div class="card radar-template-details-sub-container">
      <h3 style="color: grey"> Component: <b>radar-template</b> </h3>
    </div>
  </div>
</div>

