<div class="box-container">
    <md-content class="main-box" layout-padding md-theme="pine-green">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Radares</span>
            </div>
        </md-toolbar>

        <div layout-padding layout="column" md-whiteframe="3">
            <div layout-margin class="radar-container" ng-repeat="radar in radars">
                <p>
                    <a href="#!/radars/{{radar.id}}/vote">{{radar.description}}</a>
                    <p ng-if="!radar.active">(cerrado)</p>
                </p>

            </div>
        </div>
    </md-content>
</div>
