<div class="row">
    <div class="col-md-6">
        <h1>Crear Radar</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-3 col-md-6 center-block">
        <div>
            <input type="text"
                   class="form-control"
                   placeholder="Descripción"
                   ng-model="radar.description">
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-6 center-block">
        <div class="list-group"
             style="border: 1px solid darkgrey;
              height: 200px;
              overflow-y: scroll;">
            <a class="list-group-item"
               ng-repeat="axis in radar.axes">{{axis.description}}</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-offset-1 col-md-5 center-block">
        <div class="input-axes-group">
            <input type="text"
                   class="form-control"
                   placeholder="Nuevo Axis"
                   id="axis-input"
                   ng-model="axisInput">

        </div>
    </div>
    <div class="col-md-offset-3 col-md-6 center-block">
        <span class="input-group-btn">
            <button class="btn btn-basic"
                    type="button"
                    ng-disabled="isAxisEmpty()"
                    ng-click="addAxis()">
                Agregar
            </button>
        </span>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-offset-3 col-md-6 center-block">
        <button type="submit"
                class="btn btn-success"
                ng-click="createRadar()"
                ng-disabled="radarIsInvalid()">
            Crear
        </button>
    </div>
</div>