<div class="box-container">
    <md-content class="main-box" layout-padding md-theme="pine-green">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Comparar radares</span>
            </div>
        </md-toolbar>

        <div layout="column" md-whiteframe="3">
            <div layout-margin class="comparision-container">
                <div class="comparision-list">
                    <md-toolbar class="comparision-title">
                        <div class="md-toolbar-tools">Radar antes</div>
                    </md-toolbar>
                    <div class="comparision-item-list" md-whiteframe="3">
                        <md-radio-group layout-margin class="options-container" ng-model="beforeRadar">
                            <md-radio-button class="options md-primary" ng-repeat="radar in closedRadars"
                                             ng-value="radar">
                                {{radar.description}} ({{radar.created_at | date}})
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>

                <div class="comparision-list">
                    <md-toolbar class="comparision-title">
                        <div class="md-toolbar-tools"><span>Radar después</span></div>
                    </md-toolbar>
                    <div class="comparision-item-list" md-whiteframe="3">
                        <md-radio-group layout-margin class="options-container" ng-model="afterRadar">
                            <md-radio-button class="options md-primary" ng-repeat="radar in closedRadars"
                                             ng-value="radar">
                                {{radar.description}} ({{radar.created_at | date}})
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>
            </div>

            <md-button class="md-raised md-accent" ng-click="compareChosenRadars()" ng-disabled="cannotCompareRadars()">
                Comparar Radares
            </md-button>
        </div>
    </md-content>
</div>
