<div class="row">
    <div class="col-md-6">
        <h1>Radar</h1>
    </div>
    <div class="col-md-6 pull-right">
        <h4>{{radar.date}}</h4>
    </div>
</div>

<div ng-repeat="answer in vote.answers">
    <div class="row">
        <h2>{{answer.axis.description}}</h2>
        <div class="input-group">
            <div ng-repeat="option in options">
                <label>
                    <input type="radio" name="{{axis.id}}" ng-model="answer.points" value="{{option}}">
                    {{option}}
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <button type="submit" class="form-group form-control btn btn-primary" ng-click="submit()">
        Submit
    </button>
</div>