<div class="view-container card">
  <h5 class="view-header card-header">Radar 2016</h5>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </li>
  </ul>

  <div class="card-body">
    <div class="aristas">
      <h5>Nombre Arista</h5>
      <div class="custom-control custom-radio arista">
        <input type="radio" class="custom-control-input" id="input-1" name="defaultExampleRadios">
        <label class="custom-control-label" for="input-1">1</label>
      </div>
      <div class="custom-control custom-radio arista">
        <input type="radio" class="custom-control-input" id="input-2" name="defaultExampleRadios" checked>
        <label class="custom-control-label" for="input-2">2</label>
      </div>
      <div class="custom-control custom-radio arista">
        <input type="radio" class="custom-control-input" id="input-3" name="defaultExampleRadios" checked>
        <label class="custom-control-label" for="input-3">3</label>
      </div>
      <div class="custom-control custom-radio arista">
        <input type="radio" class="custom-control-input" id="input-4" name="defaultExampleRadios" checked>
        <label class="custom-control-label" for="input-4">4</label>
      </div>
      <div class="custom-control custom-radio arista">
        <input type="radio" class="custom-control-input" id="input-5" name="defaultExampleRadios" checked>
        <label class="custom-control-label" for="input-5">5</label>
      </div>
    </div>

    <div class="volver-btn">
      <button type="button" class="btn btn-success">
        Volver
      </button>
    </div>
  </div>
</div>

