.index-container {
    margin: auto;
    width: 58%;
}

.card-crear-radar {
    margin-bottom: 0.3em;
    background-color: #f5f6f7;
}

.card-body-crear-radar {
    padding: 0.5em;
}

.btn-crear-radar {
    color: #4b4f56;
    font-size: smaller;
    font-weight: bold;
}
