.view-container {
  background-color: white;
  box-sizing: border-box;

  margin: auto;
  width: 58%;

  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
  padding-top: 4%;

  border-bottom: inherit;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .view-header {
    background-color: #414141;
    height: 50px;
    width: 112%;
    padding: 0 2% 0 2%;
    position: auto;
    margin-top: -8%;
    margin-left: -8%;
  }
}
