.draw-radar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

draw-radar, radar-comparision {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    draw-radar, radar-comparision {
        max-width: 75%;
        align-items: flex-end;
    }
    .axis .legend {
        font-size: 1.5em;
    }

    .radar-reference {
        max-width: 50%;
    }
}




@media screen and (max-width: 600px) {
    draw-radar, radar-comparision {
        align-items: center;
    }
    .axis .legend {
        font-size: 2em;
    }

    .radar-reference {
        max-width: 60%;
    }
}

.axis .line {
    stroke: grey;
    stroke-width: 1px;
}

.axis .legend {
    font-family: Roboto, sans-serif;
    text-anchor: middle;
}

.axis .legend .positive-delta {
    fill: green;
}

.axis .legend .negative-delta {
    fill: red;
}

.radar-polygon {
    stroke-width: 2px;
}

.vertex-tooltip {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    opacity: 0;
}

.radar-vertex {
    fill-opacity :.9;
}

.step-union-polygon {
    stroke : grey;
    stroke-opacity: 0.75;
    stroke-width: 0.3px;
}

.scale .legend {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    fill: #737373;
}

.reference-legend {
    font-size: 10px;
}

.radar-reference-text {
    fill: #737373;
}

.radar-reference-description {
    fill: #3D3D3D;
}