<!DOCTYPE html>
<html>
<head>
  <title>RubenRadar</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body style="height: auto" ng-app="ruben-radar">
    <toast></toast>
  <div class="container">
      <div ng-view=""></div>
  </div>
</body>
</html>
